[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
mypy = "*"
pylint = "*"
black = "*"
types-pyyaml = "*"
flake8 = "*"

[dev-packages]

[requires]
python_version = "3.9"
